.home {
	background-color: var(--background-color);
	min-height: 88vh;

	.banner {
		background-color: var(--accent-color);
		height: 329px;
		width: 100%;

		.bannerText {
			text-align: center;
			h1,
			p {
				color: var(--background-color);
				font-size: 36px;
				font-family: var(--Kodchasan-font);
				font-weight: normal;
			}
		}
	}

	.homeCardTitleText {
		/* margin-top: 23px; */
		margin-top: 23px 0 82px;
		h2 {
			text-align: center;
			color: var(--text-color);
			font-size: 34px;
			font-family: var(--Kodchasan-font);
			font-weight: normal;
		}
	}

	.homeCardsSection {
		display: flex;
		justify-content: center;
		/* align-items: center; */

		/* testing margin */
		margin-top: 20px;
		gap: 100px;
	}
}
