.characterPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	background-color: var(--background-color);
}

.characterPage h1 {
	font-family: var(--KodeMono-font);
	color: var(--text-color);
	margin-bottom: 20px;
}

.characterEditor {
	height: 680px;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondary-color);
	padding: 40px;
	border-radius: 10px;
	text-align: center;
	justify-content: space-around;
}

.characterEditor h2 {
	font-family: var(--Kodchasan-font);
	color: var(--text-color);
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 400;
}

.charEditor {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.charEditor p {
	font-family: var(--Kodchasan-font);
	color: var(--text-color);
	margin-bottom: 10px;
	font-size: 30px;
}

.charEditor button {
	font-family: var(--Kodchasan-font);
	color: var(--text-color);
	background-color: grey;
	border: none;
	/* padding: 5px 5px; */
	/* border-radius: 5px; */
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.charEditorHair {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px;
}

.charEditorHead {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px;
}
.charEditorMouth {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px;
}
.charEditorEyes {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px;
}
.charEditorBody {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px;
}
.charEditorNose {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 15px;
}
