.signIn {
	margin-top: 50px;
	/* width: 550px;
	height: 700px; */
	/* background-color: var(--primary-color); */
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.signIn form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 550px;
	min-height: 450px;
	background-color: var(--primary-color);
	margin-bottom: 50px;
	padding: 0 20px;
}

.signIn form input {
	width: 350px;
	height: 40px;
	margin-bottom: 20px;
	padding: 0 10px;
	font-size: 18px;
	font-family: var(--KodeMono-font);
	border: none;
	border-radius: 10px;
	outline: none;
}

.signIn form h1 {
	color: var(--background-color);
	font-family: var(--KodeMono-font);
}

.signIn form button {
	width: 200px;
	height: 50px;
	background-color: var(--accent-color);
	color: var(--background-color);
	font-size: 18px;
	font-family: var(--KodeMono-font);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
